body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 300px;
}

input[type="submit"] {
    padding: 8px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilo para la tabla */
table {
    border-collapse: collapse;
}

/* Estilo para las celdas de la tabla */
td, th {
    border: 3px solid #dddddd;
    text-align: center;
    padding: 8px;
}

/* Estilo para las imágenes */
img {
    max-width: 100px; /* Ajusta el ancho máximo de las imágenes */
    height: auto; /* Permite que la altura de las imágenes se ajuste automáticamente */
    margin-bottom: 5px; /* Agrega un espacio entre las imágenes */
}


/* Ajusta los estilos para otros elementos según sea necesario */
h1, h2, h3, p {
    color: white; /* Color del texto */
}

.all-pokemon-link {
    margin-top: 20px;
}

